footer {
    background-color: #333;
    color: #fff;
}

footer .text-reset {
    color: #fff;
    /* Enlaces blancos */
}

/* footer a:hover {
      color: #fff;
    } */

/* Estilo para el SVG */
.footer-logo {
    width: 32vh;
    /* Ajusta el tamaño según necesites */
    height: 8vh;
    /* Ajusta el tamaño según necesites */
    vertical-align: middle;
    /* Alinea verticalmente con el texto */
    margin-right: 8px;
    /* Espacio entre el SVG y el texto */
}

h6 {
    color: white;
}

.fab {
    font-size: 2.5rem;
    margin-right: 20px;
    transition: .3s;
    background-color: transparent;
    color: #ccc;
}

.fab:hover {
    background-color: transparent;
    color: white;
    font-size: 2.5rem;
}

/* PEQUEÑOS AJUSTES AL DISEÑO RESPONSIVO */
@media (max-width: 550px) {
    footer {
        padding: 45px;
    }

    .text-center .p-4 {
        width: 100%;
        height: 80px;
    }
}