.product_view .modal-dialog { max-width: 800px; width: 100%; }
.pre-cost { text-decoration: line-through; color: #a5a5a5; }
.space-ten { padding: 10px 0; }

.product_view .modal.fade .modal-dialog {
    -webkit-transform: translate(0, -25%);
    -moz-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%);
    transition: transform 0.3s ease-out;
}
.product_view .modal.show .modal-dialog {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

@media (max-width: 576px) {
    .product_view .modal-dialog { max-width: 100%; }
    .product_view .modal-content { padding: 10px; }
    .product_view .product_img, .product_view .product_content {
        width: 100%;
        margin: auto;
    }
}

.product_view .modal-content {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-body .product_img  img{
    width: 100%; /* O bien define un tamaño específico, como 300px */
    height: 300px; /* Tamaño estándar para que todas tengan la misma altura */
    object-fit: cover; /* Recorta la imagen para que llene el espacio sin distorsionarse */
}
